#content__about {
    padding: 20px;
    display: flex;
    gap: 20px;

    #content__about__image {
        width: 200px;
        height: 240px;

        img {
            height: inherit;
        }
    }

    #content__about__bio {
        text-align: left;

        p {
            margin: 0;
        }
    }
}